body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.btn {
	font-size: 9px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #f5af19, #f12711, #f5af19);
	text-decoration: none;
	padding: 25px 55px;
	border-radius: 14px;
	background-size: 250%;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}